[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

Django = "*"
Pillow = "*"
django-stdimage = "*"
martor = "*"
awesome-slugify = "*"
django-verified-email-field = "*"
