{% extends 'bases/others_base.html' %}
{% load staticfiles course_tags lesson_tags class_atr_for_field %}

{% block content %}
    {% for lesson in course.lessons.all %}
        <a class="badge badge-success"
           href="{% url 'control:visit' course.slug lesson.slug %}">{{ lesson.number }}</a>
    {% endfor %}
    {% if lesson != None %}
        <h3 class="text-center">{{ lesson.number }}. {{ lesson.title }}</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Студент</th>
                <th scope="col">Был на занятии?</th>
            </tr>
            </thead>
            <tbody>
            {% for student in course.students.all %}
                {% get_student_in_lesson lesson as student_in_lesson %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ student.user.get_full_name }}</td>
                    <td>
                        <form action="post">
                            {% csrf_token %}
                            <input style="display: none" type="number" name="lesson_id" required=""
                                   value="{{ lesson.id }}">
                            <input style="display: none" type="number" name="student_id" required=""
                                   value="{{ student.id }}">
                            {{ form.attendance|add_checked:student_in_lesson.checked_attendance }}
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/ajax_form.js' %}"></script>
{% endblock %}