{% load course_tags %}

<div class="row">
    {% for course in course_list %}
        <div class="col-lg-4 col-md-6">
            <div class="card  has-text-dark bg-light" style="margin-bottom: 20px">
                <div class="course-header bg-light">
                    <h6 class="text-center  text-secondary">{{ course.get_state_display }}
                        {% get_user_badge course %}</h6>
                </div>
                <a href="{% url 'courses:detail' course.slug %}">
                    <img class="card-img-top" src="{{ course.img.thumb.url }}" alt="Card image cap">
                </a>
                <div class="card-body">
                    <a href="{% url 'courses:detail' course.slug %}">
                        <h5 class="card-title text-center">{{ course.title }}</h5>
                    </a>
                    <p class="card-text text-center">
                        <small class="text-dark">Начало курса: {{ course.start_date }}</small>
                    </p>
                    {% get_course_button course %}
                    <div class="row bottom-info">
                        <p class="col-md-6 text-left">{{ course.duration }}</p>
                        <p class="col-md-6 text-right">{{ course.get_lesson_count }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <row>
            <h5 class="col-md-12">Нет курсов данной категории</h5>
        </row>
    {% endfor %}
</div>
