<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">ITCourses</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% include 'includes/menu_url_static.html' with name='Главная' url_name='/' %}
            {% include 'includes/menu_url_dynamic.html' with name='Курсы' url_name='courses:list' %}
            {% if user.is_active_student %}
                {% url 'courses:lessons' user.student.get_open_curses.first.slug as url_name %}
                {% include 'includes/menu_url_static.html' with name='Занятия' url_name=url_name %}
            {% endif %}
            {% if user.is_teacher %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Панель управления
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                        <a class="dropdown-item" href="{% url 'control:selection' user.teacher.course_set.first.slug %}">
                            Статусы студентов
                        </a>
                        <a class="dropdown-item" href="{% url 'accounts:logout' %}">Посещения</a>
                        <a class="dropdown-item" href="{% url 'accounts:logout' %}">Домашние задания</a>
                    </div>
                </li>
            {% endif %}
        </ul>

        <ul class="navbar-nav">
            {% if user.is_authenticated %}
                {% if not user.email_confirmed %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:send_activation_email' %}">Подтвердить почту</a>
                    </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user fa-lg"></i> {{ user.username }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">

                        <a class="dropdown-item" href="{% url 'accounts:settings' %}">Настройки</a>
                        <a class="dropdown-item" href="{% url 'accounts:logout' %}">Выйти</a>
                    </div>
                </li>

            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:login' %}">Войти</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:signup' %}">Регистрация</a>
                </li>
            {% endif %}
        </ul>

    </div>
</nav>
