{% extends 'base.html' %}

{% block second_header %}

    <div class="row second_header">
        <h5 class="w-10 second_header_h">Главная</h5>
        <ul class="nav w-auto">

            {% include 'includes/menu_bottom_url.html' with name='Общая информация' url_name='main:home' a_class='border-right' %}
            {% for page in pages %}
                {% if pages.count == forloop.counter %}
                    {% include 'includes/menu_bottom_url_with_attr.html' with name=page.title url_name='main:page' url_attr=page.slug %}
                {% else %}
                    {% include 'includes/menu_bottom_url_with_attr.html' with name=page.title url_name='main:page' url_attr=page.slug a_class='border-right' %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}