{% extends 'base.html' %}

{% block title %}{{ quiz.title }}{% endblock %}

{% block content %}
    <h2 class="title text-center">{{ quiz.title }}</h2>

    <form method="post">
        {% csrf_token %}
        {% for question in quiz.questions.all %}
            <p>{{ forloop.counter }}) {{ question.content }}</p>
            {% if question.type == 'chr' %}
                <label>
                    Ответ:
                    <input class="form-control" name="answer_{{ question.position }}" type="text">
                </label>
            {% else %}
                {% for answer in question.answervar_set.all %}
                    <p>
                        <label>
                            <input name="answer_{{ question.position }}" value={{ answer.id }} type="radio">
                            {{ answer.content }}
                        </label>
                    </p>
                {% endfor %}
            {% endif %}
        {% endfor %}
        <br>
        <br>
        <input type="submit" class=" btn btn-outline-success" value="Отправить">
    </form>
    <br>

{% endblock %}